<section class="text-gray-600 body-font ">
   <div class="container px-5 py-24 mx-auto">
     <div class="flex flex-wrap -m-4">
      <div class="h-full flex flex-col items-center text-center">
         <img alt="character().name" class="flex-shrink-0 rounded-lg h-70 object-cover object-center mb-4" [src]="character().image">
         <div class="w-full">
             <h2 class="title-font font-medium text-lg text-gray-900">{{ character().name }}</h2>
              <h3 class="text-gray-500 mb-3">{{ character().race }}</h3>
         </div>
        </div>
     </div>
   </div>
</section>
